@use "sass:color";
@use "../base/mixins" as *;
@use "../base/variables" as *;

/// Estilos de botones.
///
/// Contiene estilos base y variantes para botones primarios y secundarios.
/// @group Buttons

/// Bot贸n base con estilos generales.
///
/// - Aplica tipograf铆a seg煤n la variable `$base-font-size`.
/// - Padding de `10px 20px`.
/// - Cursor en `pointer` para indicar interactividad.
.button {
  @include font($base-font-size, bold);
  padding: 0.625rem 1.25rem; 
  border: none;
  cursor: pointer;

  ///  Bot贸n primario.
  ///
  /// - Fondo: `$primary-color`.
  /// - Texto blanco.
  /// - En `hover`, se oscurece el color.
  ///
  /// @example scss - Uso del bot贸n primario
  ///   <button class="button button--primary">Enviar</button>
  &--primary {
    background-color: $primary-color;
    color: #fff;
    
    &:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
    }
  }

  /// Bot贸n secundario.
  ///
  /// - Fondo: `$secondary-color`.
  /// - Texto blanco.
  /// - En `hover`, se oscurece el color.
  ///
  /// @example scss - Uso del bot贸n secundario
  ///   <button class="button button--secondary">Cancelar</button>
  &--secondary {
    background-color: $secondary-color;
    color: #fff;
    
    &:hover {
      background-color: color.adjust($secondary-color, $lightness: -10%);
    }
  }
}
