// Variables de colores
$primary-color: #BD2A2E;
$secondary-color: #3B3936;
$accent-color: #B2BEBF;
$background-color: #889C9B;
$text-color: #486966;

// Variables de tamaños
$base-font-size: 1rem; // 16px
$small-font-size: 0.875rem; // 14px
$large-font-size: 1.25rem; // 20px

// Variables de fuentes
$primary-font: 'Helvetica Neue', sans-serif;
$secondary-font: 'Georgia', serif;
