@use "../base/variables" as *;
@use "../base/mixins" as *;

// Estilos para la sección de casas destacadas
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr)); // 300px
  gap: 2rem; // 32px
  padding: 3.125rem; // 50px
  background-color: $background-color;

  .card {
    background-color: #fff;
    border: 1px solid $background-color;
    padding: 1.25rem; // 20px
    border-radius: 0.3125rem; // 5px
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); // 2px 4px
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

    img {
      width: 100%;
      border-radius: 0.625rem; // 10px
      margin-bottom: 1rem; // 16px
    }

    h3 {
      font-size: 1.5rem;
      color: $primary-color;
      margin-top: 0.625rem; // 10px
    }

    p {
      color: $text-color;
      margin: 0.625rem 0; // 10px
    }

    .card__button {
      @include button($primary-color);
      margin-top: 0.625rem; // 10px
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); // 4px 8px
    }

    &--featured {
      border-color: $accent-color;
    }
  }
}
